body{
  background-image: url(./images/pexels-cottonbro-5934335.jpg); 
background-repeat: no-repeat;
background-size: cover;
color: white;
}
#signup-form{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  border: 1px solid black;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(0, 0, 0, 0.5);
box-shadow:inset -5px -5px rgba(0, 0, 0, 0.5) ;
border-radius: 25px;
color: white;
font-size: 1rem;
}

#signup-form h1{
  color: white;
  font-size: 2rem;
  border-bottom: 4px solid;
}

.box{
  padding: 12px;
  margin: 15px;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  font-size: 1rem;
  /* color: white; */

}

#submit{
  padding: 10px 20px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  border-radius: 10px;

}

#submit:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);

}

::placeholder, type{
  color: white;
  
}

